# OS
.DS_Store
Thumbs.db

# Dependencies / builds
node_modules/
dist/
build/

# Package managers
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Editors / IDEs
.vscode/
.idea/
*.code-workspace

# Env / secrets
.env
.env.*

# Caches
.cache/
.tmp/

# Misc
*.log
coverage/
